{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}SimpleBank{% endblock %}</title>

    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>

    <!-- Global Styles -->
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>

<body>

    {% block content %}
    {% endblock %}

    <!-- Global JavaScript -->
    <script src="{% static 'js/main.js' %}"></script>

    <script>
        document.body.addEventListener("htmx:configRequest", (event) => {
            const csrfToken = document.querySelector("[name=csrfmiddlewaretoken]")?.value;

            if (csrfToken) {
                event.detail.headers["X-CSRFToken"] = csrfToken;
            }
        });
    </script>
</body>

</html>