{% extends "authentication/auth_layout.html" %}

{% block title %}Change Password | SimpleBank{% endblock %}

{% block auth_subtitle %}
Update your password securely.
{% endblock %}

{% block auth_content %}

<form>

    <label>Current Password</label>
    <input type="password">

    <label>New Password</label>
    <input type="password">

    <label>Confirm New Password</label>
    <input type="password">

    <button type="submit">
        Update Password
    </button>

</form>

{% endblock %}