{% extends "authentication/auth_layout.html" %}

{% block title %}Login | SimpleBank{% endblock %}

{% block auth_subtitle %}
Secure sign in to your SimpleBank account.
{% endblock %}

{% block auth_content %}

<form method="post" autocomplete="on">
    {% csrf_token %}

    {{ form.email }}
    {{ form.password }}

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}
    {% endif %}

    <button type="submit">
        Continue
    </button>
</form>

<p>
    Don't have an account?
    <a href="/auth/register/">Create one</a>
</p>

<p>
    <a href="/auth/forgot-password/">Forgot Password?</a>
</p>

{% endblock %}